@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520px;

  /* Colors */
  --color-primary: #0d091a;
  --color-secondary: #140e25;
  --color-accent: #5810ff;
  --color-accent-hover: #4a0dbe;
  --color-tertiary: #201837;
  --color-tertiary-hover: #271f40;

  /* Fonts */
  --font-primary: "Sometype Mono";

  /* Animasi navbar */
  --animate-sheet-in-left: sheetInLeft 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-sheet-out-left: sheetOutLeft 0.3s ease;

  @keyframes sheetInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes sheetOutLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

body {
  @apply font-primary text-white bg-primary leading-relaxed;
}

.h1 {
  @apply text-[40px] md:text-[52px] xl:text-[50px] leading-none
  tracking-tight font-extrabold;
}

.h2 {
  @apply text-[32px] md:text-[36px] xl:text-[38px] leading-[1.15]
  tracking-tight font-medium;
}

.h3 {
  @apply text-[28px] md:text-[30px] xl:text-[32px] leading-[1.2]
  font-medium;
}

.h4 {
  @apply text-[22px] md:text-[26px] font-medium leading-snug;
}

.p {
  @apply text-[15px] md:text-[18px] font-medium leading-snug
}

.container {
  @apply px-[15px];
}

/* Btns */
.btn {
  @apply flex items-center justify-center rounded-full
  cursor-pointer transition-all font-medium h-14;
}

.btn-sm {
  @apply min-w-[168px] px-5 text-[15px] font-semibold;
}

.btn-lg {
  @apply min-w-[200px] px-6;
}

/* btns color */
.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}
.btn-tertiary {
  @apply bg-tertiary hover:bg-tertiary-hover;
}

.btn-white {
  @apply bg-white hover:bg-white/90 text-primary;
}

/* Animasi sheet */
/* Animasi slide in/out untuk sheet (kiri) */
.slide-in-from-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.slide-out-to-left {
  animation: slideOutLeft 0.3s ease-in forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
